.container {
    height: 125px;
    width: 250px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.cardLabel {
    display: grid;
}

.optionLabel {
    font-size: 12px;
    color: #dde0f2;
}

.price {
    font-size: 24px;
    font-weight: 700;
}

.sales {
    font-size: 12px;
}

.subPrice {
    color: green;
    margin-right: 3px;
}